<% /*global attendant, attendance_state */ %>
<li>
	<a href="<%= config.relative_path %>/user/<%=attendant.userslug %>">
		<% if (attendant.picture) { %>
		<img class="user-img avatar avatar-md avatar-rounded attendance_<%= attendance_state %>" src="<%=attendant.picture %>"
			 title="<%= attendant.username%> <%=attendant.timestamp %>">
		<% } else { %>
		<div class="avatar avatar-md avatar-rounded"  title="<%= attendant.username %>"
			 style="background-color: <%=attendant['icon:bgColor'] %>"><%=attendant['icon:text'] %>
		</div>
		<% } %>
	</a>
</li>
